body{
    margin: 0;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.container-1{
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:conic-gradient( #0197F6,#fff,#fff,#fff,#fff,#fff);
    border-radius: 50%;
    margin: 0;
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards; 
}
.container-1 .items-1{
    width: 60px;
    height: 60px;
    background: #02182B;
    border: none;
    border-radius: 50%;
}

@keyframes loader{
    0%{
        transform: rotate(0);
    }
    20%{
        transform: rotate(360deg);
        background:conic-gradient( #0197F6,#fff,#fff,#fff,#fff);
    }
    40%{
        transform: rotate(360deg);
        background:conic-gradient( #0197F6,#fff,#fff,#fff);
    }
    60%{
        transform: rotate(360deg);
        background:conic-gradient( #0197F6,#fff,#fff);
    }
    80%{
         transform: rotate(360deg);
        background:conic-gradient( #0197F6, #fff);
    }
    100%{
        transform: rotate(360deg);
        background: conic-gradient(#0197F6,#0197F6);
    }
}
